<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684710569644-3hv3i9shl36csqtca2qof9g6gm8j0lct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684710569644-3hv3i9shl36csqtca2qof9g6gm8j0lct</string>
	<key>API_KEY</key>
	<string>AIzaSyBHcGgocSVpfQE7RmuDnDLUbkL55wA2x3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>684710569644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.maptest</string>
	<key>PROJECT_ID</key>
	<string>maptest-21062</string>
	<key>STORAGE_BUCKET</key>
	<string>maptest-21062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684710569644:ios:4de7d9e61a00b9904ba109</string>
</dict>
</plist>